/**
 * @file
 * Subtheme specific CSS.
 */

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: calc(var(--bs-gutter-x)* 4.6);
    padding-left: calc(var(--bs-gutter-x)* 4.6);
}

table tr th, table tr th a, table tr th a:hover, table tr th a:focus {
    color: #000;
    font-weight: bold;
    background-color: #d4d4d4;
}

.navbar-brand {
    margin-left: var(--bs-navbar-brand-margin-end);
}